.carousel-inner img {
  width: 100%;
  height: auto; /* Ensures image scales proportionally */
  max-height: 700px;
  border-radius: 24px;
}
#home {
  padding: 20px;
}
/* #home #carouselExampleControls {
  height: 750px;
} */
#home h1 {
  font-size: 32px;
  font-weight: 600;
  font-family: "Noto Kufi Arabic";
  line-height: 60.7px;
}
#home h5 {
  font-size: 24px;
  font-weight: 600;
  font-family: "Noto Kufi Arabic";
  color: #266ef1;
  line-height: 45.53px;
  direction: rtl;
}
#home p {
  font-size: 20px;
  font-weight: 500;
  font-family: "Noto Kufi Arabic";
  color: #303030;
  line-height: 37.94px;
  direction: rtl;
  margin-bottom: 70px;
}
#home h4 {
  font-size: 24px;
  font-weight: 600;
  font-family: "Noto Kufi Arabic";
  color: #266ef1;
  line-height: 45.53px;
  direction: rtl;
}
.table {
  width: 100%;
  overflow-x: auto;
}
.mx-5 {
  margin: 20px;
  border: 0.5px solid #9d9d9d;
}
table tr td {
  font-size: 18px;
  font-weight: 600;
  font-family: "Noto Kufi Arabic";
  color: #303030;
  line-height: 34.15px;
  direction: rtl;
}
table tr td.data {
  direction: ltr;
}
#vDiv {
  height: 106px !important;
  border: 0.5px solid #9d9d9d;
  border-radius: 16px;
  padding: 0px 10px;
  align-items: center;
}
#vDiv .headlink {
  font-size: 18px;
  font-weight: 500;
  font-family: "Noto Kufi Arabic";
  line-height: 34.15px;
  color: #303030;
}
#vDiv .link {
  font-size: 18px;
  font-weight: 500;
  line-height: 34.15px;
  font-family: "Noto Kufi Arabic";
  color: #266ef1;
  margin-bottom: 20px;
}
#vDiv span {
  color: #9d9d9d;
  font-size: 40px;
  display: inline-block;
}
#vDiv i {
  display: inline-block;
  color: red;
  font-size: 35px;
  margin: 10px;
}
#home .invist {
  height: 106px !important;
  border: 0.5px solid #9d9d9d;
  border-radius: 16px;
  padding: 0px 10px;
  align-items: center;
}

#home .invist .btn {
  width: 180px;
  height: 64px;
  border-radius: 64px;
  background-color: #29a71a;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Noto Kufi Arabic";
  line-height: 30.35px;
}
@media (max-width: 576px) {
  .carousel-inner img {
    max-height: 400px;
  }

  /* Stack elements vertically for smaller screens */
  .d-flex {
    flex-direction: column;
    text-align: center;
  }

  .btn {
    width: 50%;
    margin: 5px auto;
  }

  .mx-lg-5 {
    margin: 10px;
  }
  #home h5 {
    font-size: 16px;
    font-weight: 600;
    font-family: "Noto Kufi Arabic";
    color: #266ef1;
    line-height: 45.53px;
    direction: rtl;
  }
  #home p {
    font-size: 17px;
    font-weight: 500;
    font-family: "Noto Kufi Arabic";
    color: #303030;
    line-height: 30.94px;
    direction: rtl;
    margin-bottom: 70px;
  }
}

@media (max-width: 768px) {
  .carousel-inner img {
    max-height: 500px;
  }

  .d-flex {
    flex-direction: column;
    text-align: center;
  }
  #vDiv .headlink {
    display: none;
  }
}
