<!-- Start Home Of Sign In -->
<section id="home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 mt-2 home-image order-2 order-md-1">
        <div class="sigin-item-img"></div>
        <p class="text-center">
          مرحبا بك في عائلة Home Idea <br />ابحث عن منزلك المثالي بكل سهولة
          وسرعة مع Home Idea للعقارات، حيث تبدأ رحلتك إلى بيت أحلامك بنقرة
          واحدة!
        </p>
      </div>
      <div class="col-md-6 sigin-item-content order-1 order-md-2">
        <a class="navbar-brand" >
          <img src="../../../assets/Images/logo.png" alt="" />
          Home Idea
        </a>
        <div class="d-flex flex-column justify-content-center">
          <h1>إنشاء حساب جديد</h1>
          <div class="form-group text-center">
            <div class="row mx-5">
              <div class="col-md-6">
                <div class="input-container">
                  <input type="text" class="fName inputField" placeholder="الاسم الاول " dir="rtl" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-container">
                  <input type="text" class="lName inputField" placeholder="الاسم الاخير" dir="rtl" />
                </div>
              </div>
            </div>
            <div class="row mx-5">
              <div class="col-md-12">
                <div class="input-container">
                  <input type="number" class="phone inputField" placeholder="أدخل رقم الهاتف " dir="rtl" />
                  <span class="icon phoneIcon"><i class="bi bi-telephone"></i></span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-container">
                  <input type="number" class="whatsapp inputField" placeholder="أدخل رقم الواتس اب" dir="rtl" />
                  <span class="icon whatsappIcon"><i class="bi bi-whatsapp"></i></span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-container">
                  <input type="text" class="city inputField" placeholder="أدخل مدينتك" dir="rtl" />
                  <span class="icon cityIcon"><i class="bi bi-house"></i></span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-container">
                  <input type="email" class="email inputField" placeholder="أدخل الايميل" dir="rtl" />
                  <span class="icon emailIcon"><i class="bi bi-envelope"></i></span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-container">
                  <input type="password" class="password inputField" placeholder="أدخل اسم المرور" dir="rtl" />
                  <span class="icon lockIconOne"><i class="bi bi-lock-fill"></i></span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-container">
                  <input type="password" class="password inputField" placeholder="تاكبد كلمة المرور" dir="rtl" />
                  <span class="icon lockIconTwo"><i class="bi bi-lock-fill"></i></span>
                </div>
              </div>
            </div>
            <button class="btn d-block mx-auto">انشاء الحساب</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
