<app-navbar></app-navbar>
<!-- Start Home Section -->
<section id="home">
  <div class="container-fluid">
    <div class="home-item">
      <div class="use">
        <a routerLink="/Mobile_Advertising_Page">
          <h5><i class="bi bi-phone"></i> جرب تطبيقنا للهاتف</h5>
        </a>
      </div>
      <p>
        "ابحث عن منزلك المثالي بكل سهولة وسرعة مع موقع Home idea للعقارات، حيث
        تبدأ رحلتك إلى بيت أحلامك بنقرة واحدة"
      </p>
    </div>
  </div>
</section>
<!-- End Home Section -->

<!-- Start Search Bar -->
<section id="search" class="my-5">
  <div class="container-fluid">
    <div
      id="searchCarousel"
      class="carousel slide d-md-none"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item">
          <ul class="d-flex flex-wrap serarchList">
            <li class="search-item"><button class="btn">حسب النوع</button></li>
          </ul>
        </div>
        <div class="carousel-item">
          <ul class="d-flex flex-wrap serarchList">
            <li class="search-item">
              <button class="btn">حسب التأثيث</button>
            </li>
            <li class="search-item">
              <button class="btn">حسب حالة البناء</button>
            </li>
            <li class="search-item">
              <button class="btn">حسب الملكية العقارية</button>
            </li>
          </ul>
        </div>
        <div class="carousel-item">
          <ul class="d-flex flex-wrap serarchList">
            <li class="search-item"><button class="btn">حسب القسم</button></li>
            <li class="search-item">
              <button class="btn btnConnect">حسب السعر</button>
            </li>
            <li class="search-item">
              <button class="btn">حسب عدد الغرف</button>
            </li>
          </ul>
        </div>
        <div class="carousel-item active">
          <ul class="d-flex flex-wrap serarchList">
            <li class="search-item"><button class="btn">للايجار</button></li>
            <li class="search-item"><button class="btn">للبيع</button></li>
            <li class="search-item"><button class="btn all">الكل</button></li>
          </ul>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#searchCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#searchCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <ul class="d-flex flex-wrap serarchList d-none d-md-flex">
      <li class="search-item">
        <button class="btn btnConnect">حسب السعر</button>
      </li>
      <li class="search-item">
        <button class="btn">حسب الملكية العقارية</button>
      </li>
      <li class="search-item"><button class="btn">حسب حالة البناء</button></li>
      <li class="search-item"><button class="btn">حسب التأثيث</button></li>
      <li class="search-item"><button class="btn">حسب عدد الغرف</button></li>
      <li class="search-item"><button class="btn">حسب النوع</button></li>
      <li class="search-item"><button class="btn">حسب القسم</button></li>
      <li class="search-item"><button class="btn">للايجار</button></li>
      <li class="search-item"><button class="btn">للبيع</button></li>
      <li class="search-item"><button class="btn all">الكل</button></li>
    </ul>
  </div>
</section>

<!-- End Search Bar -->

<!-- Start Products Section -->
<section id="products">
  <div class="container-fluid">
    <div class="row">
      <!-- Product Item -->
      <div class="col-sm-12 col-lg-6 col-xl-4 my-2">
        <a routerLink="/Real_Estate_Details">
          <div class="product-item">
            <div class="product-info">
              <div class="d-flex justify-content-between">
                <p class="date mt-1">
                  <i class="bi bi-calendar-date"></i> 20 / 8 / 2024
                </p>
                <p class="title">فيلا ضياء القمر</p>
              </div>
              <div class="d-flex justify-content-between mt-2">
                <h5>
                  1.234234 <span style="color: #0dc000">EG</span
                  ><sub class="muted">/month</sub>
                </h5>
                <div>
                  <button class="btn">
                    <i class="bi bi-telephone-fill"></i>Phone
                  </button>
                  <button class="btn">
                    <i class="bi bi-whatsapp"></i>Whatsapp
                  </button>
                </div>
              </div>
            </div>
            <img src="./assets/Images/productOne.jfif" class="img-fluid" />
            <span class="new">New</span>
            <div class="heart">
              <span><i class="bi bi-heart"></i></span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-lg-6 col-xl-4 my-2">
        <a routerLink="/Real_Estate_Details">
          <div class="product-item">
            <div class="product-info">
              <div class="d-flex justify-content-between">
                <p class="date mt-1">
                  <i class="bi bi-calendar-date"></i> 20 / 8 / 2024
                </p>
                <p class="title">فيلا ضياء القمر</p>
              </div>
              <div class="d-flex justify-content-between mt-2">
                <h5>
                  1.234234 <span style="color: #0dc000">EG</span
                  ><sub class="muted">/month</sub>
                </h5>
                <div>
                  <button class="btn">
                    <i class="bi bi-telephone-fill"></i> Phone
                  </button>
                  <button class="btn">
                    <i class="bi bi-whatsapp"></i>Whatsapp
                  </button>
                </div>
              </div>
            </div>
            <img src="./assets/Images/productOne.jfif" class="img-fluid" />
            <span class="new">New</span>
            <div class="heart">
              <span><i class="bi bi-heart"></i></span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-lg-6 col-xl-4 my-2">
        <a routerLink="/Real_Estate_Details">
          <div class="product-item">
            <div class="product-info">
              <div class="d-flex justify-content-between">
                <p class="date mt-1">
                  <i class="bi bi-calendar-date"></i> 20 / 8 / 2024
                </p>
                <p class="title">فيلا ضياء القمر</p>
              </div>
              <div class="d-flex justify-content-between mt-2">
                <h5>
                  1.234234 <span style="color: #0dc000">EG</span
                  ><sub class="muted">/month</sub>
                </h5>
                <div>
                  <button class="btn">
                    <i class="bi bi-telephone-fill"></i> Phone
                  </button>
                  <button class="btn">
                    <i class="bi bi-whatsapp"></i>Whatsapp
                  </button>
                </div>
              </div>
            </div>
            <img src="./assets/Images/productOne.jfif" class="img-fluid" />
            <span class="new">New</span>
            <div class="heart">
              <span><i class="bi bi-heart"></i></span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-lg-6 col-xl-4 my-2">
        <a routerLink="/Real_Estate_Details">
          <div class="product-item">
            <div class="product-info">
              <div class="d-flex justify-content-between">
                <p class="date mt-1">
                  <i class="bi bi-calendar-date"></i> 20 / 8 / 2024
                </p>
                <p class="title">فيلا ضياء القمر</p>
              </div>
              <div class="d-flex justify-content-between mt-2">
                <h5>
                  1.234234 <span style="color: #0dc000">EG</span
                  ><sub class="muted">/month</sub>
                </h5>
                <div>
                  <button class="btn">
                    <i class="bi bi-telephone-fill"></i> Phone
                  </button>
                  <button class="btn">
                    <i class="bi bi-whatsapp"></i>Whatsapp
                  </button>
                </div>
              </div>
            </div>
            <img src="./assets/Images/productOne.jfif" class="img-fluid" />
            <span class="new">New</span>
            <div class="heart">
              <span><i class="bi bi-heart"></i></span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-lg-6 col-xl-4 my-2">
        <a routerLink="/Real_Estate_Details">
          <div class="product-item">
            <div class="product-info">
              <div class="d-flex justify-content-between">
                <p class="date mt-1">
                  <i class="bi bi-calendar-date"></i> 20 / 8 / 2024
                </p>
                <p class="title">فيلا ضياء القمر</p>
              </div>
              <div class="d-flex justify-content-between mt-2">
                <h5>
                  1.234234 <span style="color: #0dc000">EG</span
                  ><sub class="muted">/month</sub>
                </h5>
                <div>
                  <button class="btn">
                    <i class="bi bi-telephone-fill"></i>Phone
                  </button>
                  <button class="btn">
                    <i class="bi bi-whatsapp"></i>Whatsapp
                  </button>
                </div>
              </div>
            </div>
            <img src="./assets/Images/productOne.jfif" class="img-fluid" />
            <span class="new">New</span>
            <div class="heart">
              <span><i class="bi bi-heart"></i></span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-lg-6 col-xl-4 my-2">
        <a routerLink="/Real_Estate_Details">
          <div class="product-item">
            <div class="product-info">
              <div class="d-flex justify-content-between">
                <p class="date mt-1">
                  <i class="bi bi-calendar-date"></i> 20 / 8 / 2024
                </p>
                <p class="title">فيلا ضياء القمر</p>
              </div>
              <div class="d-flex justify-content-between mt-2">
                <h5>
                  1.234234 <span style="color: #0dc000">EG</span
                  ><sub class="muted">/month</sub>
                </h5>
                <div>
                  <button class="btn">
                    <i class="bi bi-telephone-fill"></i> Phone
                  </button>
                  <button class="btn">
                    <i class="bi bi-whatsapp"></i>Whatsapp
                  </button>
                </div>
              </div>
            </div>
            <img src="./assets/Images/productOne.jfif" class="img-fluid" />
            <span class="new">New</span>
            <div class="heart">
              <span><i class="bi bi-heart"></i></span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-lg-6 col-xl-4 my-2">
        <a routerLink="/Real_Estate_Details">
          <div class="product-item">
            <div class="product-info">
              <div class="d-flex justify-content-between">
                <p class="date mt-1">
                  <i class="bi bi-calendar-date"></i> 20 / 8 / 2024
                </p>
                <p class="title">فيلا ضياء القمر</p>
              </div>
              <div class="d-flex justify-content-between mt-2">
                <h5>
                  1.234234 <span style="color: #0dc000">EG</span
                  ><sub class="muted">/month</sub>
                </h5>
                <div>
                  <button class="btn">
                    <i class="bi bi-telephone-fill"></i> Phone
                  </button>
                  <button class="btn">
                    <i class="bi bi-whatsapp"></i>Whatsapp
                  </button>
                </div>
              </div>
            </div>
            <img src="./assets/Images/productOne.jfif" class="img-fluid" />
            <span class="new">New</span>
            <div class="heart">
              <span><i class="bi bi-heart"></i></span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-lg-6 col-xl-4 my-2">
        <a routerLink="/Real_Estate_Details">
          <div class="product-item">
            <div class="product-info">
              <div class="d-flex justify-content-between">
                <p class="date mt-1">
                  <i class="bi bi-calendar-date"></i> 20 / 8 / 2024
                </p>
                <p class="title">فيلا ضياء القمر</p>
              </div>
              <div class="d-flex justify-content-between mt-2">
                <h5>
                  1.234234 <span style="color: #0dc000">EG</span
                  ><sub class="muted">/month</sub>
                </h5>
                <div>
                  <button class="btn">
                    <i class="bi bi-telephone-fill"></i> Phone
                  </button>
                  <button class="btn">
                    <i class="bi bi-whatsapp"></i>Whatsapp
                  </button>
                </div>
              </div>
            </div>
            <img src="./assets/Images/productOne.jfif" class="img-fluid" />
            <span class="new">New</span>
            <div class="heart">
              <span><i class="bi bi-heart"></i></span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- End Products Section -->
<!-- Footer  -->
<app-footer></app-footer>
