<section id="resetPassord">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 reset-item-content">
        <h2 class="logo">
          <img src="./assets/Images/logo.png" alt="" />
          Home Idea
        </h2>
        <div class="d-flex flex-column justify-content-center">
          <h1>إعادة تعيين كلمة المرور</h1>
          <div class="form-group text-center">
            <h4>قم بإدخال رقم التأكيد الخاص بك</h4>
            <div class="d-flex justify-content-center">
              <input
                type="number"
                class="number my-3 mx-2 text-center"
                placeholder="*"
                dir="rtl"
              />
              <input
                type="number"
                class="number my-3 mx-2 text-center"
                placeholder="*"
                dir="rtl"
              />
              <input
                type="number"
                class="number my-3 mx-2 text-center"
                placeholder="*"
                dir="rtl"
              />
              <input
                type="number"
                class="number my-3 mx-2 text-center"
                placeholder="*"
                dir="rtl"
              />
              <input
                type="number"
                class="number my-3 mx-2 text-center"
                placeholder="*"
                dir="rtl"
              />
              <input
                type="number"
                class="number my-3 mx-2 text-center"
                placeholder="*"
                dir="rtl"
              />
            </div>
            <a href="#">إعادة إرسال الرقم !</a>
            <button class="btn d-block mx-auto" routerLink="/change_password">
              موافق
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-2 reset-image">
        <p>
          "مع Home Idea، امتلك المنزل المثالي بكل سهولة وراحة <br />. تصفح أفضل
          العقارات المصممة لتلبي جميع احتياجاتك وحقق حلمك بالسكن المريح!"
        </p>
      </div>
    </div>
  </div>
</section>
