<section id="resetPassword">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 reset-item-content">
        <a class="logo"
          ><img src="../../../assets/Images/logo.png" alt="Home Idea Logo" />
          Home Idea
        </a>
        <div class="d-flex flex-column justify-content-center">
          <h1>إعادة تعيين كلمة المرور</h1>
          <a href="#">قم بإدخال البريد الإلكتروني</a>
          <div class="form-group text-center position-relative">
            <form>
              <div class="form-group">
                <span class="emailIcon"><i class="fas fa-envelope"></i></span>
                <input
                  type="email"
                  class="email"
                  placeholder="ادخل الايميل"
                  dir="rtl"
                />
              </div>
            </form>
            <button class="btn d-block mx-auto" routerLink="/confirm_code">
              موافق
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-2 reset-image">
        <p>
          "مع Home Idea، امتلك المنزل المثالي بكل سهولة وراحة. تصفح أفضل
          العقارات المصممة لتلبي جميع احتياجاتك وحقق حلمك بالسكن المريح!"
        </p>
      </div>
    </div>
  </div>
</section>
