#resetPassword {
  border: 2px solid #fff;
  border-radius: 0px 24px 24px 0px;
  height: 100vh;
}

#resetPassword .logo img {
  width: 48px;
  height: 48px;
}

#resetPassword .logo {
  font-size: 16px;
  font-weight: 700;
  font-family: "Noto Kufi Arabic";
  color: #1e1e1e;
  line-height: 30.35px;
  text-decoration: none !important;
}

#resetPassword .reset-item-content h1 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Noto Kufi Arabic";
  color: #303030;
  text-align: center;
  margin: 80px 0px 90px 0px;
}

#resetPassword .reset-item-content a {
  font-size: 16px;
  font-weight: 600;
  font-family: "Noto Kufi Arabic";
  color: #1e1e1e;
  line-height: 30.35px;
  text-decoration: underline;
  text-align: center;
}

#resetPassword .reset-item-content .form-group {
  position: relative;
}

#resetPassword .reset-item-content .form-group input.email {
  width: 100%;
  max-width: 500px;
  height: 64px;
  border: 1px solid #e8e8e8;
  border-radius: 16px;
  padding-left: 50px;
  margin: 40px 0px;
  text-indent: 40px;
}

#resetPassword .reset-item-content .form-group span.emailIcon {
  position: absolute;
  color: #6480f7;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 24px;
}

#resetPassword .reset-item-content .form-group .btn {
  width: 100%;
  max-width: 400px;
  height: 56px;
  border: 1px solid #303030;
  border-radius: 16px;
  background-color: #303030;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: "Noto Kufi Arabic";
  margin: 40px auto 0;
}

#resetPassword .reset-image {
  min-height: 800px;
  padding: 40px 0px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.5)
    ),
    url(../../../assets/Images/resetPassword.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 0px 24px 24px 0px;
  position: relative;
}

#resetPassword .reset-image p {
  position: absolute;
  right: 20px;
  left: 20px;
  bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Noto Kufi Arabic";
  line-height: 34.15px;
  direction: rtl;
  color: #fff;
  text-align: center;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  #resetPassword .reset-item-content .form-group input.email {
    max-width: 400px;
  }
}

@media (max-width: 992px) {
  #resetPassword .reset-item-content .form-group input.email {
    max-width: 350px;
  }
  #resetPassword .reset-image p {
    display: none;
  }

  #resetPassword .reset-image {
    display: none;
  }
}

@media (max-width: 768px) {
  #resetPassword .reset-item-content .form-group input.email {
    max-width: 300px;
  }
}

@media (max-width: 576px) {
  #resetPassword .reset-item-content .form-group input.email {
    max-width: 100%;
  }
  #resetPassword .reset-item-content .form-group span.emailIcon {
    left: 15px; /* Adjust as necessary */
  }
  #resetPassword .reset-image p {
    position: absolute;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    bottom: 20px;
  }
}
