<section id="resetPassord">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 reset-item-content">
        <h2 class="logo">
          <img src="./assets/Images/logo.png" alt="Logo" />
          Home Idea
        </h2>
        <div class="d-flex flex-column justify-content-center">
          <h1>إعادة تعيين كلمة المرور</h1>
          <div class="form-group text-center">
            <div class="row">
              <div class="col-md-12">
                <div class="input-container">
                  <input
                    type="password"
                    class="password my-3"
                    placeholder="أدخل اسم المرور"
                    dir="rtl"
                  />
                  <span class="passwordIcon">
                    <i class="bi bi-lock-fill"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-container">
                  <input
                    type="password"
                    class="password my-3"
                    placeholder="تاكيد اسم المرور"
                    dir="rtl"
                  />
                  <span class="passwordIcon2">
                    <i class="bi bi-lock-fill"></i>
                  </span>
                </div>
              </div>
            </div>
            <button class="btn d-block mx-auto">موافق</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-2 reset-image">
        <p>
          "مع Home Idea، امتلك المنزل المثالي بكل سهولة وراحة <br />. تصفح
          أفضل العقارات المصممة لتلبي جميع احتياجاتك وحقق حلمك بالسكن
          المريح!"
        </p>
      </div>
    </div>
  </div>
</section>
