<!-- Start Footer -->
<footer>
  <div class="container-fluid d-flex flex-column justify-content-between">
    <div
      class="d-flex flex-wrap justify-content-between align-items-center head-foot"
    >
      <h5>
        <img src="../../../../assets/Images/logo.png" class="img-fluid" />
        Home Idea
      </h5>
      <p>
        <i class="bi bi-geo-fill"></i> موقعنا |
        <span> مصر ، محاظة القليوبية ، مركز السعادية ، شارع الغاربة </span>
      </p>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="icons">
          <i class="bi bi-facebook"></i> | <i class="bi bi-youtube"></i> |
          <i class="bi bi-telephone"></i>|<i class="bi bi-whatsapp"></i>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="info px-3">
          <p>سياسة الخصوصية | الشروط والأحكام | تعرف علينا</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 foot-item">
        <p>جميع الحقوق محفوظة | Home Idea</p>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
