<app-navbar></app-navbar>
<!-- Start Home Section-->
<section id="home">
  <div class="container">
    <h1 class="text-center homeHead mt-2 mb-5">
      هل جربت تطبيق Home Idea للجوال!
    </h1>
    <p id="paragrah" class="mt-3">
      قدم لك تجربة متكاملة، حيث يمكنك الوصول إلى آلاف العقارات المتاحة، و تصفح
      تفاصيلها الدقيقة، ومقارنة الأسعار بكل شفافية. نحن نعلم أن وقتك ثمين، لذلك
      جعلنا من Home Idea أداة سريعة وموثوقة تمكنك من اتخاذ قراراتك بثقة تام
    </p>
    <div class="row">
      <div
        class="col-md-8 order-2 order-md-1 d-flex flex-column justify-content-center"
      >
        <div class="row">
          <div class="col-lg-6 col-md-12 my-2">
            <div class="home-item">
              <div class="d-flex justify-content-between">
                <h5 class="mt-3">For Android</h5>
                <div class="homeImage">
                  <img
                    src="../../../assets/Images/andriod.png"
                    class="img-fluid"
                  />
                </div>
              </div>
              <p>
                أصبح بمقدورك الان تحميل التطبيق علي هاتفك الجوال علي نظام
                الاندرويد
              </p>
              <div class="home-button">
                <button class="btn">تحميل</button>
              </div>
              <h3 class="ms-5">Google Play Store</h3>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 my-2">
            <div class="home-item">
              <div class="d-flex justify-content-between">
                <h5 class="mt-3">For iOS</h5>
                <div class="homeImage">
                  <img
                    src="../../../assets/Images/99e146772ebfdccdf910265b3d1c2766.png"
                    class="img-fluid"
                  />
                </div>
              </div>
              <p>
                أصبح بمقدورك الان تحميل التطبيق علي هاتفك الجوال علي نظام
                الايفون
              </p>
              <div class="home-button">
                <button class="btn">تحميل</button>
              </div>
              <h3 class="text-center">Apple Store</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 order-1 order-md-2">
        <div class="main">
          <img
            src="../../../assets/Images/2734e08c8a2c0f17cbfc06d36d31ea93.png"
            alt="Main Image"
            class="mainImage"
          />
          <img
            src="../../../assets/Images/1de1219e0be40325b21ce9b69f043c5a.png"
            class="subImage"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Home Section  -->
